.resume-container {
  margin: auto;

  @media (orientation: portrait) {
    padding: 10vh 0;
  }

  .work-experience-list {
    min-width: 350px;
    gap: 10px;
    max-height: 600px;
    overflow: auto;
    margin-right: 50px;
    padding: 10px;

    .work-experience {
      border-radius: 15px;
      cursor: pointer;
      padding: 5px;

      &:hover {
        background-color: #F4F4E2;
        filter: drop-shadow(0px 2px 5.7px rgba(110, 110, 110, 0.43));
      }

      &.selected {
        background-color: #F4F4E2;
        filter: drop-shadow(0px 2px 5.7px rgba(110, 110, 110, 0.43));
      }

      .company-icon {
        width: 100px;
        height: 100px;
        border-radius: 15px;
      }
    
      .job-summary {
        margin-left: 20px;
        line-height: 1.5;
        flex: 1;
    
        .job-title {
          font-weight: bold;
        }
    
        .company-title {
          margin-top: 20px;
        }
      }

      .selected-bar {
        background-color: #D5D5BD;
        border-radius: 15px;
        width: 7px;
        height: 80%;
        margin: auto 0;
      }
    }
  }

  .job-description {
    white-space: pre-wrap;
    flex: 1;
  }
}
