.home-container {
  flex: 1;
  display: flex;
  gap: 5vw;
  align-items: center;

  @media (orientation: portrait) {
    flex-direction: column-reverse;
  }

  @media (orientation: portrait) {
    margin: 10vh 0;
  }

  .welcome-title {
    font-weight: bold;
    font-size: var(--font-size-xl);

    @media (orientation: portrait) {
      text-align: center;
    }
  }

  .welcome-profile-pic {
    width: 20vw;
    height: 20vw;

    @media (orientation: portrait) {
      width: 50vw;
      height: 50vw;
    }
  }
}
