.top-menu-header {
  display: flex;
  flex-direction: row;
  gap: 50px;
  height: 180px;
  font-family: 'Julius Sans One';

  .menu-item {
    display: flex;
    min-width: 100px;
    filter: drop-shadow(0px 2px 5.7px rgba(110, 110, 110, 0.43));
    background: linear-gradient(180deg, #FFFFF5 0%, #F5F5E4 100%);
    mix-blend-mode: normal;
    padding: 10px;
    text-decoration: none;

    .title {
      font-size: var(--font-size-m);
      margin: auto;
      color: black;
    }

    &.main-item {
      flex: 1;
      border-radius: 0px 0px 24px 24px;
      display: flex;
      flex-direction: column;
      text-align: center;

      @media (orientation: portrait) {
        margin: 0 20px;
      }

      .title {
        font-size: var(--font-size-xxl);
        font-weight: normal;

        .subtitle {
          font-size: var(--font-size-m);
          margin-top: 10px;
          color: #ACACAC;
        }
      }
    }
    
    &.left-item {
      border-radius: 0px 0px 24px 0px;
      cursor: pointer;

      @media (orientation: portrait) {
        display: none;
      }

      &:hover {
        filter: drop-shadow(0px 5px 10px rgba(110, 110, 110, 0.43));
        // background: #ffffff;
        font-weight: bold;
      }
    }
    
    &.right-item {
      border-radius: 0px 0px 0px 24px;
      cursor: pointer;

      @media (orientation: portrait) {
        display: none;
      }

      &:hover {
        filter: drop-shadow(0px 5px 10px rgba(110, 110, 110, 0.43));
        // background: #ffffff;
        font-weight: bold;
      }
    }
  }
}