.swiper {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  margin-top: 5rem;
  gap: 2rem;
  overflow: hidden;
  height: 60vh;

  @media screen and (orientation: portrait) {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &:before {
    content: "";
    position: absolute;
    width: 50px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1000;
  }

  @media screen and (orientation: portrait) {
    width: 100%;
  }

  .swiper-slide {
    & > div {
      background-color: #f7f7f72c;
    }
  }
  
  .swiper-slide-active {
    & > div {
      background-color: #ffffff;
      color: black;
  }
  }
}
