.work-experience-wrap {
  height: 80%;
  min-height: 400px;
  border-radius: 1rem;
  padding: 2rem;


  .work-experience {
    font-size: var(--font-size-m);
    overflow-y: auto;
    text-align: left;
    height: 100%;

    .title-main {
      font-size: var(--font-size-xl);
    }

    .work-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: 1rem 0;

      @media (orientation: portrait) {
        gap: 1rem;
      }

      .metadata-side {
        display: flex;
        gap: 1rem;
        min-width: 200px;

        .title {
          font-weight: bold;

          @media (orientation: portrait) {
            display: none;
          }
        }

        .logo {
          width: 6.8rem;
          height: 6.8rem;
          border-radius: 15px;

          @media (orientation: portrait) {
            width: 20vw;
            height: 20vw;
          }
        }

        .metadata-info {
          display: flex;
          flex-direction: column;

          .company {
            font-weight: bold;
          }
        }
      }

      .description-side {
        .description {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding-right: 1rem;
        }
      }

      .indent {
        margin-left: 0rem;

        @media (orientation: portrait) {
          margin-left: 0rem;
        }
      }
    }
  }
}
